body{
    display:grid;
    /* grid-template-columns:45vw 10vw 45vw; */
    grid-template-rows: 10vh 10vh 60vh 10vh;
    /* padding: 10px; */
    /* gap: 10px; */
    box-sizing: border-box;
}

header{
    grid-row:1;
    background-color: rgb(112, 216, 173);
    text-align: center;
}

div{
    grid-row: 2;
    /* grid-column-start: 1;
    grid-column-end: 3; */
}

article{
    grid-row: 3;
    /*grid-column-start: 1;
    grid-column-end: 3; */

    background-color: aquamarine;
}

footer{
    grid-row: 4;
    /* grid-column-start: 1;
    grid-column-end: 3; */
}