body{
    display:grid;
    /* grid-template-columns:45vw 10vw 45vw; */
    grid-template-rows: 10vh 10vh 60vh 10vh;
    padding: 10px;
    gap: 10px; 
    box-sizing: border-box;
    margin-bottom: 0 ;
}


header{
    grid-row:1;
    display: flex;
    background-color: rgb(98, 76, 47);
    text-align: center;
    justify-content: center;
    align-items: center;
}

div{
    grid-row: 2;
    /* grid-column-start: 1;
    grid-column-end: 3; */
}

article{
    grid-row: 3;
    /*grid-column-start: 1;
    grid-column-end: 3; */

    background-color: rgb(98, 76, 47);
}

footer{
    grid-row: 4;
    background-color: rgb(168, 137, 94);
    /* grid-column-start: 1;
    grid-column-end: 3; */
    display:grid;
    grid-template-columns: 50vw 50vw;
    box-sizing: border-box;
}

#footer-mail{
    grid-column:1;
    display:flex;
    text-align: left;
}

#autre-contact{
    grid-column:2;
    display: flex;
    text-align: right;
    justify-content: flex-end;
}
